{
  "extends": "eslint:recommended",
  "env":{
    "browser": true,
    "node": true
  },
  "globals": {
    "jQuery": false
  },
  "rules": {
    "curly": "warn",
    "eqeqeq": "warn",
    "no-alert": "warn",
    "no-console": "off",
    "no-empty": "warn",
    "no-eval": "warn",
    "no-unused-vars": "off",
    "strict": "warn"
  }
}
