.pagination-basic {
    color: #959595;
    margin-top: 3px; //magic number to vertical align with search on left
    margin-bottom: 0;

    .page-total {
        font-style: italic;
    }

    .page-next,
    .page-last,
    .page-prev,
    .page-first {
        padding: 0 5px;
        font-size: 20px;

        &:hover {
            color: #333;
        }
    }

    a {
        border-bottom: none;
        color: #959595;
    }
}

.pagination-table {
    margin-top: 0;

    > li > a,
    > li > span {
        color: #333;
        margin: 0 5px 10px;

        &:hover,
        &:focus {
            background-color: #ebebeb;
            color: #333;
        }
    }

    > .active > a,
    > .active > a:hover,
    > .active > a:focus,
    > .active > span,
    > .active > span:hover,
    > .active > span:focus {
        background-color: $color-orange;
        border-color: $color-orange;
        color: #fff;
    }

    > li:first-child > a,
    > li:first-child > span,
    > li:last-child > a,
    > li:last-child > span {
        border-radius: 0;
    }

    a {
        color: #333;
        border-bottom: none;
    }
}

.pagination-text {
    display: inline-block;
    line-height: 35px; // magic number of pagination width on rhs
    margin: 0 10px 0 0;
    vertical-align: top;
}

#data-table-input {
    height:36px; 
    width: auto;
    text-align: center;
    margin-left: 37px;
  }
