.table {
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;

    > thead > tr > th {
        background-color: $color-blue;
        border-bottom: none;
        color: #fff;
    }

    > thead > tr > th,
    > tbody > tr > td {
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    a {
        border-bottom: none;
        color: $color-blue;

        &:hover,
        &:active,
        &:focus {
            border-bottom: 1px solid $color-blue;
        }
    }

    a.download {
        border-bottom: none;
        font-size: 150%;
    }
}

.js-table > tbody > tr > td,
.js-modal-table > tbody > tr > td {
    cursor: pointer;
}

.table-unstyled {
    margin-bottom: $line-height-computed;
    max-width: 100%;
    table-layout: fixed;
    width: 100%;

    // Cells
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                border-top: 1px solid $table-border-color;
                line-height: $line-height-base;
                padding: $table-cell-padding;
                vertical-align: top;

                &.first {
                    width: 60px;
                }

                &.actions a {
                    border-bottom: none;

                    .fa {
                        font-size: 20px;
                        margin: 0 4px;
                    }
                }
            }
        }
    }

    // Bottom align for column headings
    > thead > tr > th {
        border-bottom: 2px solid $table-border-color;
        vertical-align: bottom;
    }

    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
        > tr:first-child {
            > th,
            > td {
                border-top: 0;
            }
        }
    }

    // Account for multiple tbody instances
    > tbody + tbody {
        border-top: 2px solid $table-border-color;
    }

    // Nesting
    .table {
        background-color: $body-bg;
    }
}

/* Apply scrolling over tables */

.section-donors{
    @media screen and (max-width:991px){
        overflow-x:scroll;
        table{
            min-width: 1000px;
            overflow-x: scroll;
        }
    }
}

.twinning-cont{
    @media screen and (max-width:991px){
        overflow-x: scroll;
        table{
            min-width: 1000px;
        }
    }
}

.sticky-col {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
  }
  
  .first-col {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    left: 0px;
  }
  
  .second-col {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    left: 70px;
  }
